* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disable{
  display: none;
}

.container{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.image-and-next-before{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: auto;
}

h2{
  display: flex;
  justify-content: center;
}

.game-image{
  width: 500px;
  block-size: auto;
  max-inline-size: 100%;
}

.light-background{
  color: black;
  user-select: none;
}

.dark-background{
  color: white;
  user-select: none;
}
